<div class="dashboard">
    <div class="header" style="display: inline-block;">
        <h2 class="head">Stations</h2>    
        <h6 class="sub-headings">Daily Report</h6>  
        <br>
    </div>

    <div class="HistoryTable">
        <table>
            <tr style="background-color: #f8f8f8;">
                <th>OMC</th>
                <th>Date Joined</th>
                <th>Number of Stations</th>
                <th>Number of Managers</th>
            </tr>
            <tr>
                <td>Total</td>
                <td>18/01/2020</td>
                <td>24</td>
                <td>24</td>
            </tr>
            <br>
            <tr>
                <td>Puma Oil</td>
                <td>18/01/2020</td>
                <td>24</td>
                <td>24</td>
            </tr>
            <br>
             <tr>
                <td>Goil</td>
                <td>18/01/2020</td>
                <td>24</td>
                <td>24</td>
            </tr>
        </table>
</div>

</div>