
<div class="dashboard">
        <div class="header" style="display: inline-block;">
                <h2 class="head">Dashboard</h2>    
                <h6 class="sub-headings">Daily Report</h6>  
                <br>
        </div>
        <div class="cards">
                <div class="row">
                        <div class="info col-md-3">
                                <h6>Number of Stations</h6>
                                <h5>39 stations</h5>
                        </div>
                        <div class="info col-md-3">
                                <h6>Number of Managers</h6>
                                <h5>59 stations</h5>
                        </div>
                        <div class="info col-md-3">
                                <h6>New users this month</h6>
                                <h5>12</h5>
                        </div>
                </div>
        </div>

        <div class="Operations">
                <br/>
                <h6 class="sub-headings">Operation History</h6>

        </div>

        <div class="HistoryTable">
                <table>
                        <tr style="background-color: #f8f8f8;">
                                <th>Date</th>
                                <th>Entries</th>
                                <th>Stations</th>
                                <th>Profit</th>
                                <th>Status</th>
                                <br>
                        </tr>
                        <tr>
                                <td>18/01/2020</td>
                                <td>181</td>
                                <td>39</td>
                                <td>15%</td>
                                <td><i class="fas fa-circle" style="color: green;"></i></td>
                        </tr>
                        <br>
                        <tr>
                                <td>18/01/2020</td>
                                <td>181</td>
                                <td>39</td>
                                <td>15%</td>
                                <td><i class="fas fa-circle" style="color: green;"></i></td>
                        </tr> 
                        <br>
                        <tr>
                                <td>18/01/2020</td>
                                <td>181</td>
                                <td>39</td>
                                <td>15%</td>
                                <td><i class="fas fa-circle" style="color: green;"></i></td>
                        </tr>  
                        <br>
                        <tr>
                                <td>18/01/2020</td>
                                <td>181</td>
                                <td>39</td>
                                <td>15%</td>
                                <td><i class="fas fa-circle" style="color: green;"></i></td>
                        </tr>    
                        <br>
                        <tr>
                                <td>18/01/2020</td>
                                <td>181</td>
                                <td>39</td>
                                <td>15%</td>
                                <td><i class="fas fa-circle" style="color: green;"></i></td>
                        </tr>    
                        <br>
                        <tr>
                                <td>18/01/2020</td>
                                <td>181</td>
                                <td>39</td>
                                <td>15%</td>
                                <td><i class="fas fa-circle" style="color: green;"></i></td>
                        </tr>

                </table>
        </div>
</div>